.vacancy {
  max-width: 100%;
  background-color: var(--light-bg-color);
}

.vacancy__wrapper {
  margin: 0 auto;
  max-width: 1110px;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg-color);
}

.vacancy__text {
  margin: 0;
  font-family: 'YS_Text';
  font-style: normal;
  color: var(--primary-text-color);
}

.vacancy__text_type_colored {
  color: var(--colored-text);
}

.vacancy__container {
  margin: 60px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.vacancy__load-more-button {
  font-weight: 700;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}

.vacancy__load-more-button:disabled {
  display: none;
}

.vacancy__load-more-button-hidden {
  display: none;
}

.vacancy__feedback-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.vacancy__feedback-text {
  padding-right: 40px;
  font-weight: 700;
  font-size: var(--xl-text-size);
  line-height: var(--xl-line-height);
}

@media (max-width: 450px) {
  .vacancy {
    padding: 40px 15px;
  }

  .vacancy__feedback-container {
    margin-top: 40px;
    flex-direction: column;
    align-items:center;
    row-gap: 15px;
  }

  .vacancy__container {
    margin-top: 25px;
    row-gap: 20px;
  }

  .vacancy__feedback-text {
    padding: 0;
    text-align: center;
    font-size: var(--xl-mobile-text-size);
    line-height: var(--xl-mobile-line-height);
  }

}