.feedback {
  padding: 100px 50px;
  background-color: var(--light-bg-color);
  max-width: 1210px;
}

.feedback__text {
  max-width: 633px;
  margin: 20px 0 30px;
  font-family: 'YS_Text';
  font-style: normal;
  color: var(--primary-text-color);
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}

@media (max-width: 450px) {
  .feedback {
    padding: 40px 15px;
  }
}