.feedback {
  padding: 100px 50px;
}

.feedback__text {
  max-width: 633px;
  margin: 70px 0 60px;
  font-family: 'YS_Text';
  font-style: normal;
  color: var(--primary-text-color);
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}