.slider {
  /* max-width: 918px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg-color);
  /* margin-right: -200px; */
}

.slider__text {
  margin: 0;
  font-family: 'YS_Text';
  font-style: normal;
  color: var(--primary-text-color);
}

.slider__buttons-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px;
  align-self: flex-end;
  column-gap: 30px;
}

.slider__button {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

.slider__button_type_right {
  background-image: url('../../images/feedback/toLeftArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 10px;
}

.slider__button_type_left {
  background-image: url('../../images/feedback/toRightArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 10px;
}

/* .slider__button-img {
  margin-top: 1px;
}

.slider__button-left-img {
  margin-left: 3.5px;
}

.slider__button-right-img {
  margin-right: 3.5px;
} */

.slider__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.slider__container {
  position: relative;
  margin-right: -50px;
  margin-left: -20px;
}

.slider__list {
  column-gap: 20px;
}

.slider__slide {
  position: relative;
  max-width: 762px;
  min-height: 390px;
  /* padding: 40px 30px; */
  display: flex;
  flex-direction: row;
  background-color: var(--primary-bg-color);
  column-gap: 55px;
  border-radius: 25px;
}

.slider__slide-img {
  width: 100%;
  max-width: 260px;
  min-height: 390px;
  object-fit: cover;
  border-radius: 25px;
}

.slider__slide-img-mobile {
  display: none;
}

.slider__slide-text-container {
  width: 100%;
  max-width: 417px;
}

.slider__slide-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: var(--xl-text-size);
  line-height: var(--xl-line-height);
}

.slider__slide-subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
  color: rgba(0, 0, 0, 0.5);
}

.slider__slide-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}

.slider__dots-container {
  margin: 30px auto 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.slider__dot {
  display: none;
  /* width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer; */
}

/* .slider__dot-active {
  background-color: #474747;
} */

.slider__pagination-wrapper {
  display: none;
}

@media (max-width: 450px) {
  .slider__buttons-container {
    display: none;
  }

  .slider__container {
    position: relative;
    margin-right: -100px;
    margin-left: 0;
  }

  .slider__slide {
    padding: 20px 15px;
    max-width: 270px;
    min-height: auto;
    /* display: block; */
  }

  .slider__slide-img {
    display: none;
  }

  .slider__slide-text-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 25px;
  }

  .slider__slide-img-mobile {
    display: block;
    width: 90px;
    height: 90px;
    min-height: 90px;
    min-width: 90px;
    object-fit: cover;
    border-radius: 45px;
  }

  .slider__slide-title {
    margin-top: 0;
    font-size: var(--xl-mobile-text-size);
    line-height: var(--xl-mobile-line-height);
  }

  .slider__slide-subtitle {
    margin-top: 5px;
    font-size: var(--l-mobile-text-size);
    line-height: var(--l-mobile-line-height);
  }

  .slider__slide-text {
    margin-top: 25px;
    font-size: var(--l-mobile-text-size);
    line-height: var(--l-mobile-line-height);
  }
}