 /* main, footer {
    position: relative;
    top: 120px;
} */
.page {
    font-family: "YS Text", sans-serif;
}

.page_disabled {
    position: relative;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
    overflow: hidden;
}


