.faq {
  margin: 70px auto;
  max-width: 1100px;
  padding: 0 50px;
}

.faq__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin: 0 0 50px 0;
}

.faq__span {
  color: #5686e3;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.faq__list-item {
  padding: 0;
}

.faq__item {
  list-style: none;
  border: 1px solid #edf2f7;
  margin-bottom: 15px;
  padding: 40px 30px;
  background-color: #edf2f7;
  border-radius: 10px;
}

.faq__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.faq__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.faq__arrow-down {
  display: block;
  width: 30px;
}

.faq__arrow-down_hidden {
  display: none;
}

.faq__arrow-down:hover {
  cursor: pointer;
}

.faq__arrow-up {
  display: none;
  width: 30px;
}

.faq__arrow-up_active {
  display: block;
}

.faq__arrow-up:hover {
  cursor: pointer;
}

.faq__text {
  margin: 20px 0 0 0;
  display: none;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
}

.faq__text_visible {
  display: block;
}

.faq__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-left: 5px;
}

.faq__box_opened {
  background-color: white;
}

@media (max-width: 450px) {
  .faq {
    padding: 0 15px;
  }

  .faq__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .faq__span {
    font-size: 30px;
    line-height: 35px;
  }

  .faq__item {
    padding: 20px 15px;
  }

  .faq__subtitle {
    font-size: 22px;
    line-height: 25px;
  }

  .faq__text {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 12.5px;
  }
}
