.faq {
  margin: 100px auto;
  max-width: 1100px;
  padding: 0 50px;
}

.faq__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin: 0 0 70px 0;
}

.faq__list-item {
  padding: 0;
}

.faq__item {
  list-style: none;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 40px 30px;
}

.faq__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.faq__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.faq__arrow-down {
  display: block;
}

.faq__arrow-down:hover {
  cursor: pointer;
}

.faq__arrow-up {
  display: none;
}

.faq__arrow-up:hover {
  cursor: pointer;
}

.faq__text {
  margin: 20px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: none;
}

.faq__text_visible {
  display: block;
}

@media (max-width: 450px) {
  .faq {
    padding: 0 15px;
  }

  .faq__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .faq__item {
    padding: 20px 15px;
  }

  .faq__subtitle {
    font-size: 22px;
    line-height: 25px;
  }

  .faq__arrow-down {
    width: 30px;
  }

  .faq__arrow-up {
    width: 30px;
  }

  .faq__text {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
