.footer {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  background-color: --second-bg-color;
}

.footer__info-block {
  width: 100%;
  max-width: 722px;
}

.footer__copyright-text {
  max-width: 255px;
}

.footer__nav-container {
  display: flex;
  flex-direction: row;
}

.footer__nav {

}

.footer__nav-element {

}

.footer__an-offer-container {
  max-width: 500px;
}

.footer__an-offer-text {

}

.footer__an-offer-link {

}

.footer__an-offer-text {

}

.footer__contacts-block {

}

.footer__telephone-container {

}

.footer__telephone {

}

.footer__telephone-info {

}

.footer__contacts-element {

}

.footer__contacts-link {

}

.footer__contacts-link-img {

}
