.dropdown {
  display: flex;
  flex-direction: row;
}

.dropdown_type_faculty {
  
}

.dropdown__button {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  margin: 0;
  font-family: 'YS_Text';
  font-style: normal;
  font-weight: 400;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}

.dropdown__button > option {
  margin: 10px 20px;
}

.dropdown__button_style_selected {
  background-color:black;
  color: white;
}

.dropdown__button_type_faculty {
}

.dropdown__button_type_role {
}

.dropdown__content-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown__content-container-visible {
  display: block;
}

.dropdown__content {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}