.vacancy-card {
  position: relative;
  /* width: calc(50% - 55px); */
  max-width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--primary-bg-color);
  flex-grow: 1;
  
  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.vacancy-card-hidden {
  display: none;
}



.vacancy-card__text {
  margin: 0;
  font-family: 'YS_Text';
  font-style: normal;
  color: var(--primary-text-color);
}

.vacancy-card:nth-child(2n){
  flex-grow: 2;
}

.vacancy-card:nth-child(1n) .vacancy-card__vacancy-title {
  max-width: 510px;
}

.vacancy-card:nth-child(2n) .vacancy-card__vacancy-title {
  width: 100%;
}

.vacancy-card__vacancy-name {
  font-weight: 400;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
}

.vacancy-card__vacancy-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: var(--xl-text-size);
  line-height: var(--xl-line-height);
}

.vacancy-card__vacancy-direction {
  margin-top: 25px;
  /* width: 100%; */
  font-weight: 400;
  font-size: var(--l-text-size);
  line-height: var(--l-line-height);
  color: var(--transparent-text-color);
}

.vacancy-card__info-container {
  display: block;
  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.vacancy-card__info-container-hidden {
  display: none;
}

.vacancy-card__footer {
  display: block;
  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

.vacancy-card__footer-hidden {
  display: none;
}

.vacancy-card__footer-link-container {
  margin-top: 5px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.vacancy-card__see-more {
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vacancy-card__see-more-img {
  
}

.vacancy-card__vacancy-salary {

}

/* vacancy-card__requirements-container -----------------------------------------------------*/

.vacancy-card__requirements-container {
  display: flex;
  flex-direction: column;

  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.1,.6,.2,0);
}

.vacancy-card__requirements-container-hidden {
  display: none;
  width: 100%;
}

.vacancy-card__requirements-title {

}

.vacancy-card__requirements-list {
  margin: 20px 0 0;
}

.vacancy-card__requirements-list-element {

}

.vacancy-card__requirements-footer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.vacancy-card__see-more {
  right: 30px;
  width: 35px;
  /* position: absolute;
  bottom: 40px;
  right: 30px;
  width: 35px;
  height: 35px;
  background-image: url(../../images/vacancy/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer; */
}

@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}