.advantages {
    margin: 100px 4.2% ;
}

.advantages__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  margin: 0 0 70px 0;
}

.advantages__container {
  display: flex;
 flex-direction: row;
 column-gap: 30px;
}

.advantages__column {
    display: flex;
    flex-direction: column;
}

.advantages__column:last-of-type {
    margin-top: 120px;
}

.advantages__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 20px;
  max-width: 538px;
margin-bottom: 115px;

}

.advantages__img {
width: 400px;
align-self: center;
margin: 40px auto 25px auto;

}

.advantages__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0 30px 10px 30px;
}

.advantages__text {
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
 margin: 0 30px 40px 30px;
}
