.advantages {
  background-color: #edf2f7;
}

.advantages__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 70px 50px;
}

.advantages__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 50px 0;
}

.advantages__span {
  color: #5686e3;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.advantages__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.advantages__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: 30px;
  max-width: 255px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.advantages__card:last-of-type {
  margin-right: 0;
}

.advantages__img {
  width: 215px;
  align-self: center;
  margin: 20px 20px 15px 20px;
}

.advantages__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0 5px 10px 20px;
}

.advantages__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0 20px 20px 20px;
}

@media (max-width: 1220px) {
  .advantages__card:last-of-type {
    margin-right: 30px;
  }
}

@media (max-width: 930px) {
  .advantages__container {
    flex-direction: row;
    margin: 0;
    justify-content: center;
    scroll-snap-type: x mandatory;
  }
}

@media (max-width: 450px) {
  .advantages {
    margin: 40px 0;
    padding: 0 15px 0 15px;
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__title {
    padding: 0 15px 0 0;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .advantages__span {
    font-size: 30px;
    line-height: 35px;
  }

  .advantages__container {
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .advantages__card {
    width: 100%;
    margin-right: 15px;
  }

  .advantages__card:last-of-type {
    margin-right: 0;
  }

  .advantages__img {
    width: 215px;
    height: 200px;
    align-self: center;
    margin: 15px;
  }

  .advantages__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin: 15px 15px 10px 15px;
  }

  .advantages__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0 15px 30px 15px;
  }
}
