.faculties {
  margin: 100px auto;
  padding: 0 50px;
}

.faculties__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin: 0 0 70px 0;
}

.faculties__text {
  padding: 10px;
}

.faculties__span {
  color: #5686e3;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.faculties__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.faculties__box {
  width: 50%;
}

.faculties__paragraph-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 25px 0;
}

.faculties__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 25px 0;
}

.faculties__box-hidden {
  display: none;
}

.faculties__box-hidden_active {
  display: block;
}

.faculties__list-item {
  padding: 0;
  margin: 0;
}

.faculties__items {
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

.faculties__item {

  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.faculties__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  margin: 0;
}

.faculties__link {
  display: block;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  color: white;
  margin-left: auto;
}
.faculties__link_hidden {
  display: none;
}

.faculties__close {
  display: none;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-left: auto;
  color: #5686e3;
}

.faculties__items_open .faculties__link {
  display: none;
}

.faculties__items_open .faculties__close {
  display: block;
}

.faculties__item:hover {
  cursor: pointer;
}
.faculties__item:hover p {
  color: #5686e3;
}

.faculties__box-hidden {
  margin-top: 20px;
}

.faculties__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.faculties__group {
  margin: 30px 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.faculties__button {
  border-radius: 14px;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 20px;
  width: 100%;
  text-align: center;
}

.faculties__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.faculties__close:hover {
  cursor: pointer;
}

@media (max-width: 930px) {
  .faculties__box {
    width: 100%;
  }

  .faculties__paragraph-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 580px) {
  .faculties {
    margin: 40px auto;
  }

  .faculties__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .faculties {
    padding: 0 15px;
  }

  .faculties__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .faculties__span {
    font-size: 30px;
    line-height: 35px;
  }

  .faculties__paragraph-title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 25px;
  }

  .faculties__paragraph {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .faculties__subtitle {
    padding-bottom: 10px;
  }

  .faculties__link {
    font-size: 14px;
    line-height: 20px;
    color: #5686e3;
  }

  .faculties__close {
    font-size: 14px;
    line-height: 20px;
  }

  .faculties__items {
    margin-bottom: 40px;
  }

  .faculties__item {
    padding: 0;
  }

  .faculties__text {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 10px 0 10px;
  }

  .faculties__group {
    margin-top: 10px;
    padding-top: 15px;
  }

  .faculties__button {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
  }
}
