.header {
    background-color: #8C8C8C;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header__container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    width: 70px;
    height: 70px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: all 0.2s ease-in;
}

.header__link:hover {
    color: darkslategray;
}

.header__burger-button {
    width: 30px;
    height: 30px;
    background-image: url("../../images/header/burger.svg");
    display: none;
    cursor: pointer;
}

.header__burger-container {
    display: none;
    padding: 30px 15px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .header__container {
        padding: 15px 15px;
    }

    #desktop-navbar {
        display: none;
    }

    #mobile-navbar {
        display: flex;
    }

    .header__logo {
        width: 40px;
        height: 40px;
    }

    .header__logo-link {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .header__burger-button {
        display: block;
    }

    .header__link {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    .header__navbar {
        flex-direction: column;
        gap: 40px;
    }
}