.header {
    background-color: #8C8C8C;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    width: 70px;
    height: 70px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'YS Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: all 0.2s ease-in;
}

.header__link:hover {
    color: darkslategray;
}